<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vividio || <%= title %> </title>
</head>
<body style="padding: 0 2%;">
    <div class="navbar" style="width: 100%;display: flex;align-items: center;justify-content: center;background-color: black;">
        <ul style="width: 90%;display: flex;align-items: center;justify-content: space-around; list-style: none;font-size: 20px; font-weight: 700;color: white;">
            <li><a href="/" style="text-decoration: none;color: white;"> Movies</a></li>
            <li><a href="/About" style="text-decoration: none;color: white;"> About</a></li>
            <li><a href="/new_movie" style="text-decoration: none;color: white;"> Add New</a></li>
        </ul>
   </div>
    <div class="About" style="width:100% ;height: 80vh; display:flex; align-items: center;justify-content: center;">
           <p style="width:80% ; font-size: 30px;text-align: center;"> Error 404 || Page not found <span style="color: red;">redirecting...</span></p>
    </div>
</body>
</html>