<div class="navbar" style="width: 100%;display: flex;align-items: center;justify-content: center;">
     <ul style="width: 60%;display: flex;align-items: center;justify-content: center;">
        <li><a href="" style="text-decoration: none;"> Movies</a></li>
        <li><a href="" style="text-decoration: none;"> About</a></li>
        <li><a href="" style="text-decoration: none;"> Add New</a></li>
    </ul>
</div>